<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/modules/ico/favicon.ico">
    <link rel="stylesheet" href="/css/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/plugins/jsTree/style.min.css">
    <link rel="stylesheet" href="/css/plugins/jqTreeGrid/jquery.treegrid.css">
    <link rel="stylesheet" href="/css/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common/style.css">
</head>
<div th:fragment="footer">
    <script src="/js/plugins/jquery/jquery-3.4.0.min.js"></script>
    <script src="/js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery/jquery.validate.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="/js/plugins/jstree/jstree.min.js"></script>
    <script src="/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
    <script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
    <script src="/js/plugins/layui/layui.js"></script>
</div>

