<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<!--苹果字体-->
<!--<style>-->
<!--body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,form,input,button,textarea{margin:0;padding:0;word-break:break-all;word-wrap:break-word;}-->
<!--body,button,input,select,textarea{font:12px/1.5 -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif; color:#252a2d;font-weight:300;}-->
<!--table{border-collapse:collapse;border-spacing:0;}-->
<!--ul,ol{list-style: none;}-->
<!--li{list-style:none;}-->
<!--div,input,textarea{outline-style:none;}-->
<!--h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}-->
<!--em,i{font-style:normal;font-weight:300;}-->
<!--img {border: 0;vertical-align: middle;}-->
<!--a {text-decoration:none;outline:0;color:#252a2d;}-->
<!--a:hover{text-decoration:none;color:#0093e8;}-->
<!--</style>-->
<link rel="stylesheet" href="/css/plugins/metisMenu/metisMenu.css">
<body class="fixed-sidebar full-height-layout gray-bg  pace-done" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle"
                                   src="http://www.zi-han.net/theme/hplus/img/profile_small.jpg"></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="clear">
										<span class="block m-t-xs"><strong class="font-bold" th:text="${user.username}"></strong></span>
										<span class="text-muted text-xs block" th:text="${user.realname}"><b class="caret"></b></span>
									</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a class="J_menuItem" href="form_avatar.html" data-index="0">修改头像</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="profile.html" data-index="1">个人资料</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="contacts.html" data-index="2">联系我们</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="mailbox.html" data-index="3">信箱</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/logout">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">li</div>
                </li>
                <li th:each="menu:${menus}">
                    <a href="#"> <i th:class="${menu.icon}"></i> <span class="nav-label" th:text="${menu.text}"></span>
                        <span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li th:each="child:${menu.children}">
                            <a class="J_menuItem" th:href="${child.state.url}" data-index="0"
                               th:text="${child.text}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="collapsemenu" class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
        </nav>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content" style="margin-left: 0px;">
                    <a href="javascript:;" class="J_menuTab active" data-id="index">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown" aria-expanded="false">关闭操作<span
                        class="caret"></span></button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive">
                        <a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll">
                        <a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther">
                        <a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="" frameborder="0" data-id=""
                    seamless="" style="display: inline;"></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">
                © 2018-2019
                <a href="https://www.cnblogs.com/liw66/" target="_blank">GPL</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="/js/modules/sys/login/contabs.js"></script>
<script src="/js/modules/sys/login/index.js"></script>
</body>
</html>